.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-color: $blue;
  padding: 1rem 2rem;

  @include bp(md) {
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include bp(md) {
      flex-wrap: nowrap;
    }
  }
  &__email,
  &__phone {
    display: block;
    width: 100%;
    color: $yellow;
    font-size: 1.8rem;
    text-align: center;

    @include bp(md) {
      margin-left: 4rem;
    }
  }
  &__email {
    transition: color 300ms ease-in-out;
    &:hover {
      color: lighten($yellow, 10%);
    }
  }
}

.logo-circle__footer {
  position: relative;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;

  .logo-circle__text {
    font-size: 36px;
  }
}
