.home-hero {
  // must match home-content margin-top!
  height: 300px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  @include bp(sm) {
    height: 400px;
  }
  @include bp(md) {
    height: 500px;
  }
  @include bp(lg) {
    height: 600px;
  }
}

.home-content {
  // must match home-hero height!
  margin-top: 300px;

  @include bp(sm) {
    margin-top: 400px;
  }
  @include bp(md) {
    margin-top: 500px;
  }
  @include bp(lg) {
    margin-top: 600px;
  }
  position: relative;
}

.home-about {
  background-color: $trans-tan;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  @include bp(md) {
    flex-wrap: nowrap;
  }
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex: 0 0 40%;
    padding: 2rem 4rem;

    @include bp(md) {
      border-right: 2px solid $black;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex: 1 0 60%;
    padding-left: 4rem;
  }
  &__title {
    @include header-two;
    margin: 1rem 0 2rem;
  }
}

.home-spaces {
  background-color: white;
  padding: 8rem 0;

  @include bp(md) {
    padding: 8rem 2rem;
  }
  &__title {
    color: white;
  }
}

.home-space {
  &__image {
    position: relative;
    height: 220px;
    width: 100%;
    overflow: hidden;

    @include bp(md) {
      height: 416px;
      width: 50%;
    }
  }
  &__overlay {
    background-color: $trans-gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__title {
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 3.6rem;
    color: $yellow;
    border-bottom: 3px solid $red;
    width: 80%;
    margin: 0;

    @include bp(md) {
      left: 50%;
    }
  }
  &__text {
    padding: 4rem 2rem;
  }
  &__title-two {
    margin: 0 0 1rem;
    font-size: 2.4rem;
    color: $red;
  }
  &__description {
    margin-bottom: 3rem;
  }
}

.home-history {
  background-color: white;
  &__image {
    background-size: cover;
    height: 100px;

    @include bp(sm) {
      height: 160px;
    }
    @include bp(md) {
      height: 200px;
    }
  }
}

.circles-section {
  background-color: white;
  &__content {
    display: flex;
    justify-content: space-around;
  }
}

.home-circle {
  height: 20rem;
  width: 20rem;
  border: 2px solid $black;
  border-radius: 50%;
}
