.home-hero {
  // must match home-content margin-top!
  height: 300px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  @include bp(sm) {
    height: 400px;
  }
  @include bp(md) {
    height: 500px;
  }
  @include bp(lg) {
    height: 600px;
  }
}

.home-content {
  // must match home-hero height!
  margin-top: 300px;

  @include bp(sm) {
    margin-top: 400px;
  }
  @include bp(md) {
    margin-top: 500px;
  }
  @include bp(lg) {
    margin-top: 600px;
  }
  position: relative;
}

.home-about {
  background-color: $trans-tan;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  @include bp(md) {
    flex-wrap: nowrap;
  }
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex: 0 0 40%;
    padding: 2rem 4rem;

    @include bp(md) {
      border-right: 2px solid $black;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex: 1 0 60%;
    padding-left: 4rem;
  }
  &__title {
    @include header-two;
    margin: 1rem 0 2rem;
  }
}

.home-spaces-section {
  background-color: $blue;
  &__title {
    color: white;
  }
}

.home-spaces {
  display: flex;
  flex-wrap: wrap;

  @include bp(lg) {
    flex-direction: column;
    height: 600px;
  }
}

.home-space {
  background-size: cover;
  width: 100%;

  @include bp(lg) {
    height: 300px;
    width: 38%;
    &:first-of-type {
      height: 600px;
      width: 62%;
    }
  }
}

.home-history {
  background-color: white;
  &__image {
    background-size: cover;
    height: 100px;

    @include bp(sm) {
      height: 160px;
    }
    @include bp(md) {
      height: 200px;
    }
  }
}

.circles-section {
  background-color: white;
  &__content {
    display: flex;
    justify-content: space-around;
  }
}

.home-circle {
  height: 20rem;
  width: 20rem;
  border: 2px solid $black;
  border-radius: 50%;
}
