$primary-font: "Open Sans", serif; // 'Open Sans'
$secondary-font: "Slabo 27px", sans-serif; // 'Slabo'

// Colors
$black: #18121e;
$blue: #233237;
$red: #984b43;
$yellow: #eac67a;
$trans-tan: rgba(216, 216, 216, 0.9);
$trans-gray: rgba(35, 15, 58, 0.8);
$hover-color: $blue;
