$primary-font: "Open Sans", serif; // 'Open Sans'
$secondary-font: "Slabo 27px", sans-serif; // 'Slabo'

// Colors
$black: #18121e;
$blue: #233237;
$red: #984b43;
$yellow: #eac67a;
$cream: #f3efe8;
$hover-color: $blue;
