// Variables

$primary-font: 'Helvetica';
$secondary-font: 'Arial';

// Colors
$black: #000;
$gray: #999;

$hover-color: $gray; 

// Breakpoints
$bkpts: (
	'xs': em(480),
	'sm': em(640),
	'md': em(800),
	'lg': em(960),
	'xl': em(1020),
	'xxl': em(1180),
);