.social-media {
  svg {
    height: 54px;
    width: 54px;
    fill: $black;
    &:hover {
      fill: $hover-color;
    }
  }
}

.icon {
  svg {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
  }
}
