.main-nav {
  padding-right: 2rem;

  &__menu > ul {
    display: flex;
  }
  .page_item {
    margin-right: 2rem;
    a {
      display: block;
      color: $yellow;
      padding: 4px 0;
      position: relative;
      // Prevent before/after lines from being seen outside box.
      overflow: hidden;
      // On hover, lines fly in from left and right
      &:before,
      &:after {
        display: block;
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        border-top: 2px solid $red;
        transition: transform 300ms ease-in-out;
      }

      &:before {
        top: 0;
        transform: translateX(-100%);
      }
      &:after {
        bottom: 0;
        transform: translateX(100%);
      }

      &:hover {
        &:before,
        &:after {
          transform: translateX(0);
        }
      }
    }
  }
}

#menu-main-menu,
#menu-footer-menu {
  @include bp(md) {
    padding: 20px 0;
  }
  li {
    text-align: center;
  }
  a {
    font-weight: 700;
  }
}

#menu-main-menu {
  @include bp(md) {
    margin: 20px 10%;
  }
}

.menu-item {
  width: 100%;
  margin: 10px 0;
  @include bp(md) {
    width: auto;
    margin: 0;
  }
}
