/* ===========================================================
  Sizing
============================================================ */

/*
  Width Styling
 */

.width-onehundred {
  width: 100%;
}

.width-max {
  width: 95%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.width-half {
  width: 95%;
  @include bp(tablet) {
    width: 48%;
  }
}

.width-third {
  width: 95%;
  @include bp(tablet) {
    width: 48%;
  }
  @include bp(smallscreen) {
    width: 30%;
  }
}

.width-fourth {
  width: 95%;
  @include bp(mobile-lg) {
    width: 48%;
  }
  @include bp(tablet) {
    width: 31%;
  }
  @include bp(smallscreen) {
    width: 23%;
  }
}

/*
  Height styling
 */

.height-small {
  height: 100px;
}

.height-med {
  height: 200px;
}

.height-large {
  height: 300px;
}

.bg-img {
  background-position: center;
  background-size: cover;
}
