/* ===========================================================
  Variables
============================================================ */
// Colors
$transparent-gray: rgba(40,40,40,0.8);
$black: #212121;
$dark-gray: #404040;
$light-gray: #909090;
$gold: #efcf4f;
$hover-color: $light-gray;

// Fonts
$primary: 'Lato', sans-serif;
