/*
 * Breakpoints mixin. Makes media queries easier.
 */
/**
 * @source https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_px-to-rem.scss
 * @param  {Number} $pxval Value in pixels to convert
 * @return {String} The converted value in rems.
 */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.content-width {
  max-width: 87rem;
  padding: 2rem 1rem; }
  @media only screen and (min-width: 480px) {
    .content-width {
      padding: 2rem; } }
  @media only screen and (min-width: 960px) {
    .content-width {
      margin: 0 auto; } }
  @media only screen and (min-width: 1020px) {
    .content-width {
      margin: 0 auto 0 12%; } }

img {
  max-width: 100%; }

/**
 * Taken from: Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  font-family: "Open Sans", serif;
  line-height: 1.6;
  color: #18121e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Slabo 27px", sans-serif; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

p {
  font-size: 2rem; }

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #18121e;
  letter-spacing: 1px; }
  a:hover {
    color: #233237;
    text-decoration: none; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  list-style: none; }

span {
  font-size: 2.4rem; }

pre {
  word-wrap: break-word; }

div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
section,
header,
footer,
nav,
main {
  box-sizing: border-box; }

#wpadminbar {
  top: 0; }

.main-nav {
  padding-right: 2rem; }
  .main-nav__menu > ul {
    display: flex; }
  .main-nav .page_item {
    margin-right: 2rem; }
    .main-nav .page_item a {
      display: block;
      color: #eac67a;
      padding: 4px 0;
      position: relative;
      overflow: hidden; }
      .main-nav .page_item a:before, .main-nav .page_item a:after {
        display: block;
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        border-top: 2px solid #984b43;
        transition: transform 300ms ease-in-out; }
      .main-nav .page_item a:before {
        top: 0;
        transform: translateX(-100%); }
      .main-nav .page_item a:after {
        bottom: 0;
        transform: translateX(100%); }
      .main-nav .page_item a:hover:before, .main-nav .page_item a:hover:after {
        transform: translateX(0); }

@media only screen and (min-width: 800px) {
  #menu-main-menu,
  #menu-footer-menu {
    padding: 20px 0; } }
#menu-main-menu li,
#menu-footer-menu li {
  text-align: center; }
#menu-main-menu a,
#menu-footer-menu a {
  font-weight: 700; }

@media only screen and (min-width: 800px) {
  #menu-main-menu {
    margin: 20px 10%; } }

.menu-item {
  width: 100%;
  margin: 10px 0; }
  @media only screen and (min-width: 800px) {
    .menu-item {
      width: auto;
      margin: 0; } }

.social-media svg {
  height: 54px;
  width: 54px;
  fill: #18121e; }
  .social-media svg:hover {
    fill: #233237; }

.button {
  background-color: #233237;
  padding: 12px 24px;
  border-radius: 5px;
  color: #eac67a;
  font-size: 2rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out; }
  .button:hover {
    background-color: #374e56;
    color: #f1d9a6; }

.site-header {
  background-color: #233237;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: padding 300ms ease-in-out;
  z-index: 10; }
  .site-header__title {
    color: #eac67a;
    font-size: 2.6rem;
    letter-spacing: 11px;
    line-height: 1.2;
    padding: 10px 0;
    margin: 0; }
  .site-header__link {
    margin-left: 130px; }
  .site-header.header-shrink {
    padding: 5px 10px; }
    .site-header.header-shrink .header-circle {
      transform: scale(0.8); }

.header-circle {
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #984b43;
  position: absolute;
  top: 5px;
  transform: scale(1);
  transform-origin: 0 0;
  left: 25px;
  height: 90px;
  width: 90px;
  transition: transform 300ms ease-in-out; }
  .header-circle__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    height: 95%;
    width: 95%; }
  .header-circle__text {
    font-size: 44px;
    font-family: "Slabo 27px", sans-serif;
    color: #18121e; }

.admin-bar .site-header {
  top: 46px; }
  @media only screen and (min-width: 782px) {
    .admin-bar .site-header {
      top: 32px; } }

footer {
  margin: 30px 0; }

.home-hero {
  height: 300px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; }
  @media only screen and (min-width: 640px) {
    .home-hero {
      height: 400px; } }
  @media only screen and (min-width: 800px) {
    .home-hero {
      height: 500px; } }
  @media only screen and (min-width: 960px) {
    .home-hero {
      height: 600px; } }

.home-content {
  margin-top: 300px;
  position: relative; }
  @media only screen and (min-width: 640px) {
    .home-content {
      margin-top: 400px; } }
  @media only screen and (min-width: 800px) {
    .home-content {
      margin-top: 500px; } }
  @media only screen and (min-width: 960px) {
    .home-content {
      margin-top: 600px; } }

.home-about {
  background-color: rgba(216, 216, 216, 0.9); }
  .home-about__content {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0; }
  @media only screen and (min-width: 800px) {
    .home-about {
      flex-wrap: nowrap; } }
  .home-about__left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex: 0 0 40%;
    padding: 2rem 4rem; }
    @media only screen and (min-width: 800px) {
      .home-about__left {
        border-right: 2px solid #18121e; } }
  .home-about__right {
    display: flex;
    align-items: center;
    flex: 1 0 60%;
    padding-left: 4rem; }
  .home-about__title {
    color: #984b43;
    font: 3.6rem "Slabo 27px", sans-serif;
    margin: 1rem 0 2rem; }

.home-spaces-section {
  background-color: #233237; }
  .home-spaces-section__title {
    color: white; }

.home-spaces {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (min-width: 960px) {
    .home-spaces {
      flex-direction: column;
      height: 600px; } }

.home-space {
  background-size: cover;
  width: 100%; }
  @media only screen and (min-width: 960px) {
    .home-space {
      height: 300px;
      width: 38%; }
      .home-space:first-of-type {
        height: 600px;
        width: 62%; } }

.home-history {
  background-color: white; }
  .home-history__image {
    background-size: cover;
    height: 100px; }
    @media only screen and (min-width: 640px) {
      .home-history__image {
        height: 160px; } }
    @media only screen and (min-width: 800px) {
      .home-history__image {
        height: 200px; } }

.circles-section {
  background-color: white; }
  .circles-section__content {
    display: flex;
    justify-content: space-around; }

.home-circle {
  height: 20rem;
  width: 20rem;
  border: 2px solid #18121e;
  border-radius: 50%; }

/*# sourceMappingURL=app.css.map */
