/*
 * Breakpoints mixin. Makes media queries easier.
 */
/**
 * @source https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_px-to-rem.scss
 * @param  {Number} $pxval Value in pixels to convert
 * @return {String} The converted value in rems.
 */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  width: 100%; }
  @media only screen and (min-width: 640px) {
    .alignright {
      float: right;
      margin: 5px -40px 20px 20px;
      width: auto; } }

.alignleft {
  width: 100%; }
  @media only screen and (min-width: 640px) {
    .alignleft {
      float: left;
      margin: 5px 20px 20px -40px;
      width: auto; } }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.content-width {
  max-width: 87rem;
  padding: 0 1rem; }
  @media only screen and (min-width: 480px) {
    .content-width {
      padding: 0 2rem; } }
  @media only screen and (min-width: 960px) {
    .content-width {
      margin: 0 auto; } }
  @media only screen and (min-width: 1020px) {
    .content-width {
      margin: 0 auto 0 12%; } }

img {
  max-width: 100%; }
  @media only screen and (max-width: 640px) {
    img {
      width: 100%; } }

/**
 * Taken from: Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  font-family: "Open Sans", serif;
  line-height: 1.6;
  color: #18121e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Slabo 27px", sans-serif; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

p {
  font-size: 2rem; }

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #18121e;
  letter-spacing: 1px; }
  a:hover {
    color: #233237;
    text-decoration: none; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  list-style: none; }

span {
  font-size: 2.4rem; }

pre {
  word-wrap: break-word; }

div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
section,
header,
footer,
nav,
main {
  box-sizing: border-box; }

.primary {
  margin-top: 71px; }

.gray-header {
  background-color: #ccc;
  padding: 2rem 0; }
  @media only screen and (min-width: 800px) {
    .gray-header {
      padding: 3rem 0; } }
  .gray-header__title {
    color: #984b43;
    font: 3.6rem "Slabo 27px", sans-serif;
    margin-top: 0;
    margin-bottom: 0; }

.main-nav {
  padding-right: 2rem; }
  .main-nav .page_item {
    margin-right: 2rem; }
    .main-nav .page_item a {
      display: block;
      color: #18121e;
      padding: 4px 0;
      position: relative;
      overflow: hidden; }
      @media only screen and (min-width: 800px) {
        .main-nav .page_item a {
          color: #eac67a; } }
      .main-nav .page_item a:before, .main-nav .page_item a:after {
        display: block;
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        border-top: 2px solid #984b43;
        transition: transform 300ms ease-in-out; }
      .main-nav .page_item a:before {
        top: 0;
        transform: translateX(-100%); }
      .main-nav .page_item a:after {
        bottom: 0;
        transform: translateX(100%); }
      .main-nav .page_item a:hover:before, .main-nav .page_item a:hover:after {
        transform: translateX(0); }

@media only screen and (min-width: 800px) {
  #menu-main-menu,
  #menu-footer-menu {
    padding: 20px 0; } }
#menu-main-menu li,
#menu-footer-menu li {
  text-align: center; }
#menu-main-menu a,
#menu-footer-menu a {
  font-weight: 700; }

@media only screen and (min-width: 800px) {
  #menu-main-menu {
    margin: 20px 10%; } }

.menu-item {
  width: 100%;
  margin: 10px 0; }
  @media only screen and (min-width: 800px) {
    .menu-item {
      width: auto;
      margin: 0; } }

.social-media svg {
  height: 54px;
  width: 54px;
  fill: #18121e; }
  .social-media svg:hover {
    fill: #233237; }

.icon svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle; }

.button {
  background-color: #233237;
  padding: 12px 24px;
  border-radius: 5px;
  color: #eac67a;
  font-size: 2rem;
  text-align: center;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out; }
  .button:hover {
    background-color: #374e56;
    color: #f1d9a6; }

.slick-nav {
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 400ms ease-in-out;
  width: 10%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slick-nav:hover {
    cursor: pointer; }
  .slick-nav .slick-circle {
    background-color: rgba(250, 250, 250, 0.5);
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 250ms ease-in-out; }
    .slick-nav .slick-circle span {
      transform: translateX(-8px) rotate(-45deg); }
    .slick-nav .slick-circle:hover {
      transform: scale(1.05);
      transition: transform 250ms cubic-bezier(0.26, 0.66, 0.28, 1.92); }
  .slick-nav__prev .slick-circle span {
    transform: translateX(8px) rotate(135deg); }
  .slick-nav span {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid black;
    border-right: 3px solid black; }
  .slick-nav__prev {
    left: 0; }
    .slick-nav__prev.slick-disabled {
      transform: translateX(-100%); }
    .slick-nav__prev span {
      transform: rotate(135deg); }
  .slick-nav__next {
    right: 0; }
    .slick-nav__next.slick-disabled {
      transform: translateX(100%); }
    .slick-nav__next span {
      transform: rotate(-45deg); }

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .slick-dots .slick-active button:after {
    opacity: 1;
    transform: scale(1.2); }
  .slick-dots button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    margin: 0 0.5rem; }
    .slick-dots button:after {
      content: '';
      display: block;
      position: relative;
      background-color: #18121e;
      opacity: 0.3;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; }

/* 	Contains styling for mobile menu container, 
	NOT styling for the actual menu items. See navigation.scss */
.main-nav {
  background-color: white;
  box-shadow: 0px -5px 14px 5px #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 8rem 2rem 2rem;
  position: fixed;
  transform: translateY(-100vh);
  width: 100%;
  z-index: 1;
  transition: transform 400ms ease-out; }
  @media only screen and (min-width: 800px) {
    .main-nav {
      background-color: transparent;
      box-shadow: none;
      display: block;
      height: auto;
      width: auto;
      padding: 0;
      position: static;
      transform: none; }
      .main-nav > div {
        height: 100%; }
      .main-nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%; } }

.mobile-menu-button {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  z-index: 2;
  width: 3rem;
  height: 2.6rem;
  transition: top 300ms ease-in-out; }
  @media only screen and (min-width: 800px) {
    .mobile-menu-button {
      display: none; } }
  .mobile-menu-button .top,
  .mobile-menu-button .middle,
  .mobile-menu-button .bottom {
    border-bottom: 4px solid #eac67a;
    position: absolute;
    top: 1.1rem;
    width: 100%;
    transition: transform 300ms ease-in-out; }
  .mobile-menu-button .top {
    transform: translateY(-1.1rem); }
  .mobile-menu-button .middle {
    transform: translateY(0rem);
    transition: opacity 300ms ease-out, transform 300ms ease-in-out; }
  .mobile-menu-button .bottom {
    transform: translateY(1.1rem); }
  .mobile-menu-button:hover {
    cursor: pointer; }

.mobile-menu-open .main-nav {
  transform: translateY(0vh);
  transition: transform 400ms ease-out; }
.mobile-menu-open .mobile-menu-button .top {
  transform: translateY(0) rotate(45deg); }
.mobile-menu-open .mobile-menu-button .middle {
  transform: translateY(0) rotate(360deg);
  opacity: 0; }
.mobile-menu-open .mobile-menu-button .bottom {
  transform: translateY(0) rotate(-45deg); }

.header-shrink .mobile-menu-button {
  top: 1.7rem; }

body.mobile-menu-open {
  overflow: hidden; }

.wh-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  border: 12px solid #233237;
  border-radius: 50%;
  margin-bottom: 3rem;
  transition: transform 300ms ease-in-out; }
  @media only screen and (min-width: 800px) {
    .wh-circle {
      margin-bottom: 0; } }
  .wh-circle:hover {
    transform: scale(1.05);
    transition: transform 400ms cubic-bezier(0.26, 0.66, 0.28, 1.92); }
  .wh-circle__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #233237;
    border-radius: 50%;
    width: 95%;
    height: 95%; }
  .wh-circle__text {
    font-size: 2.4rem;
    color: #984b43;
    padding: 0 2rem;
    text-align: center; }

.entry__hero {
  background-size: cover;
  height: 200px; }
  @media only screen and (min-width: 640px) {
    .entry__hero {
      height: 300px; } }
  @media only screen and (min-width: 800px) {
    .entry__hero {
      height: 400px; } }
.entry__header {
  background-color: rgba(200, 200, 200, 0.8); }

.site-header {
  background-color: #233237;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: padding 300ms ease-in-out;
  z-index: 10; }
  .site-header__title {
    color: #eac67a;
    font-size: 2.6rem;
    letter-spacing: 5px;
    line-height: 1.2;
    padding: 10px 0;
    margin: 0; }
    @media only screen and (min-width: 800px) {
      .site-header__title {
        letter-spacing: 11px; } }
  .site-header__link {
    margin-left: 1rem; }
    @media only screen and (min-width: 800px) {
      .site-header__link {
        margin-left: 130px; } }
  .site-header.header-shrink {
    padding: 5px 10px; }
    .site-header.header-shrink .logo-circle {
      transform: scale(0.8); }

.logo-circle {
  display: none;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #984b43;
  position: absolute;
  top: 5px;
  transform: scale(1);
  transform-origin: 0 0;
  left: 25px;
  height: 90px;
  width: 90px;
  transition: transform 300ms ease-in-out; }
  @media only screen and (min-width: 800px) {
    .logo-circle {
      display: flex; } }
  .logo-circle__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    height: 95%;
    width: 95%; }
  .logo-circle__text {
    font-size: 44px;
    font-family: "Slabo 27px", sans-serif;
    color: #18121e; }

.admin-bar .site-header {
  top: 0; }
  @media only screen and (min-width: 782px) {
    .admin-bar .site-header {
      top: 32px; } }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color: #233237;
  padding: 1rem 2rem; }
  .footer__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-width: 800px) {
      .footer__contact {
        flex-wrap: nowrap; } }
  .footer__email, .footer__phone {
    color: #eac67a;
    font-size: 2.4rem; }
    @media only screen and (min-width: 800px) {
      .footer__email, .footer__phone {
        margin-left: 4rem; } }
  .footer__email {
    transition: color 300ms ease-in-out; }
    .footer__email:hover {
      color: #f1d9a6; }

.logo-circle__footer {
  position: relative;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0; }
  .logo-circle__footer .logo-circle__text {
    font-size: 36px; }

.home-hero {
  height: 300px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; }
  @media only screen and (min-width: 640px) {
    .home-hero {
      height: 400px; } }
  @media only screen and (min-width: 800px) {
    .home-hero {
      height: 500px; } }
  @media only screen and (min-width: 960px) {
    .home-hero {
      height: 600px; } }

.home-content {
  margin-top: 300px;
  position: relative; }
  @media only screen and (min-width: 640px) {
    .home-content {
      margin-top: 400px; } }
  @media only screen and (min-width: 800px) {
    .home-content {
      margin-top: 500px; } }
  @media only screen and (min-width: 960px) {
    .home-content {
      margin-top: 600px; } }

.home-about {
  background-color: rgba(216, 216, 216, 0.9); }
  .home-about__content {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0; }
  @media only screen and (min-width: 800px) {
    .home-about {
      flex-wrap: nowrap; } }
  .home-about__left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex: 0 0 40%;
    padding: 2rem 4rem; }
    @media only screen and (min-width: 800px) {
      .home-about__left {
        border-right: 2px solid #18121e; } }
  .home-about__right {
    display: flex;
    align-items: center;
    flex: 1 0 60%;
    padding-left: 4rem; }
  .home-about__title {
    color: #984b43;
    font: 3.6rem "Slabo 27px", sans-serif;
    margin: 1rem 0 2rem; }

.home-spaces {
  background-color: white;
  padding: 8rem 0 2rem;
  overflow: hidden; }
  @media only screen and (min-width: 800px) {
    .home-spaces {
      padding: 8rem 2rem; } }
  .home-spaces__title {
    color: white; }

@media only screen and (min-width: 800px) {
  .home-space {
    display: flex;
    margin-left: 10%; } }
.home-space.hover .home-space__title {
  opacity: 1;
  transform: translateX(-69%) translateY(-60%); }
.home-space__image {
  display: block;
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
  height: 220px;
  width: 100%;
  overflow: hidden; }
  @media only screen and (min-width: 800px) {
    .home-space__image {
      height: 416px;
      width: 50%;
      overflow: visible; } }
.home-space__overlay {
  display: none;
  background-color: rgba(35, 51, 58, 0.8);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out; }
  @media only screen and (min-width: 800px) {
    .home-space__overlay {
      display: block; }
      .home-space__overlay:hover {
        opacity: 1; } }
.home-space__text {
  flex-grow: 1;
  padding: 4rem 2rem 4rem 3rem; }
.home-space__title-two {
  margin: 0 0 1rem;
  font-size: 2.4rem;
  color: #984b43; }
.home-space__description {
  margin-bottom: 3rem; }
.home-space__button {
  position: relative;
  z-index: 1; }
.home-space__title {
  position: relative;
  height: 5rem;
  width: 69%;
  margin: 0;
  transform: translateX(-59%) translateY(-60%);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  z-index: 0; }
  .home-space__title__text {
    border-bottom: 3px solid #984b43;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 3.6rem;
    color: #eac67a;
    line-height: 1.3;
    transform: translateX(-16rem);
    margin-right: 3rem; }
  .home-space__title__underline {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19rem;
    border-bottom: 3px solid #984b43; }
.home-space__swipe-text {
  margin: 0; }
  @media only screen and (min-width: 800px) {
    .home-space__swipe-text {
      display: none; } }

.circles-section {
  background-color: white;
  padding-bottom: 4rem; }
  @media only screen and (min-width: 800px) {
    .circles-section {
      padding-bottom: 8rem; } }
  .circles-section__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media only screen and (min-width: 800px) {
      .circles-section__content {
        flex-wrap: nowrap; } }

.spaces__hero {
  background-size: cover;
  margin-top: 70px;
  height: 300px; }
  @media only screen and (min-width: 800px) {
    .spaces__hero {
      height: 400px; } }
  @media only screen and (min-width: 960px) {
    .spaces__hero {
      height: 500px; } }
.spaces__title {
  text-align: center; }
.spaces__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3rem 1rem; }
  @media only screen and (min-width: 640px) {
    .spaces__gallery {
      padding: 4rem; } }
  @media only screen and (min-width: 800px) {
    .spaces__gallery {
      padding: 5rem 8rem; } }

.space {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem; }
  @media only screen and (min-width: 640px) {
    .space {
      width: 50%;
      padding: 2rem; } }
  @media only screen and (min-width: 800px) {
    .space {
      width: calc(100%/3); } }
  .space__name {
    color: #984b43;
    font: 3.6rem "Slabo 27px", sans-serif;
    text-align: center; }
  .space .wh-circle {
    height: auto;
    width: 100%;
    position: relative;
    margin: 0 auto; }
    @media only screen and (min-width: 640px) {
      .space .wh-circle {
        width: 80%; } }
    .space .wh-circle:after {
      content: '';
      display: block;
      padding-bottom: 100%; }
    .space .wh-circle__inner {
      background-size: cover;
      position: absolute;
      top: 2.5%;
      left: 2.5%; }

.single-space__header {
  background-color: white;
  padding: 1rem; }
.single-space__title {
  color: #984b43;
  font: 3.6rem "Slabo 27px", sans-serif;
  text-align: center; }
.single-space__gallery .slick-track {
  height: 300px; }
  @media only screen and (min-width: 640px) {
    .single-space__gallery .slick-track {
      height: 400px; } }
  @media only screen and (min-width: 800px) {
    .single-space__gallery .slick-track {
      height: 500px; } }
.single-space__image {
  background-size: cover; }
.single-space__bottom {
  background-color: white;
  padding: 4rem 2rem; }
  @media only screen and (min-width: 800px) {
    .single-space__bottom {
      padding: 4rem 4rem 4rem 10rem; } }
.single-space__card {
  position: relative;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 2rem;
  margin-top: -13rem;
  width: 100%; }
  @media only screen and (min-width: 800px) {
    .single-space__card {
      padding: 2rem 6rem;
      width: 60rem; } }
  @media only screen and (min-width: 960px) {
    .single-space__card {
      padding: 2rem 10rem;
      width: 80rem; } }
.single-space__name {
  color: #984b43;
  font: 3.6rem "Slabo 27px", sans-serif; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=app.css.map */
